.login_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
/* Left ---------------------- */
.container-left {
  margin: 0;
  padding: 20px 0 0 0;
  width: 55%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:50px;
}
#login-text {
  font-family: 'Dongle', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 0.5rem;
}
.input {
  background: #daecf2;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding-left: 1rem;
}
.input > *{
  background-color: inherit;
  padding:0px 10px;
}
.input.input-phone-area{
  width:15%;
  border-right:#ccc 1px solid;
  text-align: center;
}
.input.input-phone{
  width:85%;
  text-align: left;
}
/* Right ------------------------ */
.container-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 45%;
  background: linear-gradient(to left, #0083fb, #00b9fb);
}
#signup-title,
#signup-desc {
  font-family: 'Dongle', sans-serif;
  color: #fff;
}
#signup-title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
#signup-desc {
  opacity: 46%;
  font-size: 3rem;
  margin-bottom: 4rem;
  line-height: 50px;
}
.inner-container {
  width: 70%;
  margin-top: -10rem;
}
.login-btn{
  width: 100%;
  height: 70px;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.2s ease;
}
