.container-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 45%;
  background: linear-gradient(to left, #0083fb, #00b9fb);
}
#signup-title,
#signup-desc {
  font-family: 'Dongle', sans-serif;
  color: #fff;
}
#signup-title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
#signup-desc {
  opacity: 46%;
  font-size: 3rem;
  margin-bottom: 4rem;
  line-height: 50px;
}
.inner-container {
  width: 70%;
  margin-top: -10rem;
}
